div#div1 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

div#div1 > img {
    height: 100%;
    width: 100%;
    border: 0;
}

.text0 {
    text-align: left;
    color: black;
    font-size: 40px;
    position: absolute;
    left: 11%;
    margin-top: 2.8%;
}

.text1 {
    text-align: center;
    color: white;
    /*margin-left: 5%;*/
}

.text2 {
    text-align: right;
    color: white;
    font-size: 49px;
    position: relative;
    left: 1%;
}

.text3 {
    text-align: center;
    color: white;
    font-size: 49px;
    position: relative;
    left: 5.5%;
}

.underline {
    border-bottom: white 2px solid;
    padding-bottom: 2%;
    width: 500px;
    margin-bottom: 19%;

}

.underline1 {
    border-bottom: white 2px solid;
    padding-bottom: 2%;
    width: 500px;
    margin-bottom: 19%;
    margin-top: 5%;
}

#second, #third {
    width: 28%;
    height: 50%;
    margin: 5px;
    float: left;
}

.input {
    color: white;
    position: absolute;
    left: -9999px;
}

.input2 {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 49px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    outline: none;
    border-width: 0;
}

.param-body {
    margin-top: 20%;
    padding: 16px 0;
    text-align: center;
    font-size: 60px;
}

.input1 {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 11px 12px;
    width: 70%;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 40px;
    font-weight: 700;
    color: #444444;
    margin: 5px;
}